header{
  width: 100%;
  height: 58px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;

  .header-menu{
    display: flex;

    span{
      padding: 15px;
      color: $brand-color;
    }
  }

  i{
    margin-left: 5px;
  }
  @include logo;
}
